{{ partial "site-header.html" . }}

<div class="list-background" style="background:url('{{ .Site.BaseURL }}img/{{ .Title | lower }}-category.jpg'); background-size: cover;"></div>

<div class="list-container blog-list">
    <h1>{{ .Title }}</h1>
  
  {{ range .Data.Pages }}
  <a href="{{.Permalink}}">
    <span class="blog-list__date">{{ .Date.Format "January 1"}}</span>
    <span class="blog-list__title">{{ .Title }}</span>
    
    <span class="blog-list__summary">{{ .Params.excerpt }}</span>
  </a>
  {{ end }}
  <div class="clearfix"></div>
</div>