.home-page-content {
  @include tube-of-content(1200px);
}

.clearfix { 
  clear: both;
}

.featured__item {
  position: relative;
  float: left;

  width: 100%;

  margin-bottom: $base-vertical-margin * 2;
  box-shadow: 3px 3px 15px rgba(0,0,0,0.15);
  transition: transform 0.6s ease;
  &:hover, &:focus {
    transform: scale(1.03);
  }
}

.featured__item img {
  width: 100%;
}

.featured__wrapper {
  width: 100%;
  padding: 0 30px;
}

.featured__title {
  font-family: "Raleway";
  font-weight: 600;
  font-size: 1em;
  color: $black;
  letter-spacing: 0.03em;
  margin-bottom: 5px;
}

.featured__excerpt {
  font-family: "PlayfairDisplay";
  font-size: 1em;
  line-height: 1.5em;
  color: $black;
  
  margin-bottom: 10px;
}

@media #{$medium-screen-up} {
  .featured__item {
    width: 48%;
    margin: 0 1%;
  }
}

@media #{$large-screen-up} {
  .featured__item {
    width: 32%;
    margin: 0 0.5%;
  }
}
