.list-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.list-container {
    @include tube-of-content();
    position: absolute;
    top: 5em;
    left: 0;
    right: 0;

    padding: 0 30px;

    background-color: #f7f7f7;

    height: calc(100vh - 5em);

}

.list-container h1 {
    font-family: "Raleway";
    font-weight: 900;
    text-transform: uppercase;

    text-align: center;
    margin-top: -2em;
    margin-bottom: 1.5em;
    color: white;
}

.list-container.blog-list a {
    width: 100%;
}

.list-container__banner {
    min-height: 10vh;
    text-align: center;
}