<div class="header">
    <div class="header__video-link">
        <div class="header__video-btn">
            <svg width="60px" height="60px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"
                x="0px" y="0px" viewBox="0 0 612 792" enable-background="new 0 0 612 792" xml:space="preserve">
                <path d="M243.5,324.5c0-9.9,7.168-14.228,15.929-9.617l139.143,73.233c8.761,4.611,8.761,12.156,0,16.767   L259.43,478.115c-8.761,4.609-15.929,0.284-15.929-9.616L243.5,324.5z"
                />
            </svg>
        </div>
    </div>
    <h1 class="header__title title">I'm a designer & developer of stuff</h1>

    <iframe class="header__video-player" src="https://player.vimeo.com/video/42970770" width="640" height="360" frameborder="0"
        webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

</div>

<div class="modal-background modal-background--hide"></div>