figure {
  margin: 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

figcaption {
  font-size: $base-font-size * 0.85;
  font-style: italic;
  margin-bottom: $base-spacing / 2;
}

.media {
  width: 50%;
}

.media.media--full {
  display: block;
  width: 100%;
}

.media.media--left {
  float: left;
  margin-right: $base-spacing;
}

.media.media--right {
  float: right;
  margin-left: $base-spacing;
}

.media.media--break-right,
.media.media--break-left {
  transform: none;
  width: 100%;
  margin: 0 0;
  clear: both;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.8;
  z-index: 5;
  pointer-events: all;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.modal-background--hide {
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s ease;
}

@media #{$large-screen-up} {
  .media.media--break-right {
    width: 50%;
    float: right;
    transform: translateX(50%);
    margin-left: calc(-25% + #{$base-spacing});
  }
}

@media #{$large-screen-up} {
  .media.media--break-left {
    width: 50%;
    float: left;
    transform: translateX(-50%);
    margin-right: calc(-25% + #{$base-spacing});
  }
}
